<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/21aaf0ddb2.js" crossorigin="anonymous"></script>
    <title>LowellSport about</title>
</head>
<body>
   
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fas fa-bars"></i>
            </label>
         <label class="logo">LoWellSport</label>
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li class="dropdown">
                <li><a href="/allsports">sport</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            
        </nav>  
    
      <div id="AboutContact">
        <br>
        <br>
        <br>
        
        <p> email: deoleyo@yahoo.com</p>
        <p> phone number: Don't call me !!!</p>
        <p> mailing address: wherever you can !!!</p>
        <p>  Bye!!!</p>
      </div>
 
    
    
        <footer>
            <p class="logo">LoWellSport</p>
            <p class="social-media">
                
                <img src="/Sport/62860-logo-twitter-computer-icons-free-photo-png.png" alt="">
                <img src="/Sport/62544-zuckerberg-mark-computer-facebook-icons-png-image-high-quality.png" alt="">
                <img src="/Sport/69823-instagram-icons-symbol-youtube-computer-logo.png" alt="">
                <img src="/Sport/77799-logo-youtube-icon-png-file-hd.png" alt=""> 
            </p>
            <p class="footer-links">
                <span>copyright:&copy; LoWellSport</span>
                <a href="#">Terms and Conditions</a>
                <a href="#">About Us</a>
                <a href="#">Sport</a>
            </p>
        </footer>
        
        
        <script src="vanilla-tilt.min.js"></script>
    </div>
   
</body>
</html>