<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/21aaf0ddb2.js" crossorigin="anonymous"></script>
    <title>LowellSport</title>
</head>
<body>
<div id="content">

    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
     <label class="logo">LoWellSport</label>
        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">sport</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Feedback</a></li>
        </ul>
        
    </nav> 

        <picture data-tilt>
<p>
    <video autoplay muted loop src="UML Campus Drone Aerials [f4uSkZw-QZA].mp4" width="700px" height="300px"></video>
</p>
<p>
   
</p>

        </picture>
        <lowell>Something about
            When moving to a new city, its cultural and ethnic diversity could be a determining factor. A diverse city is usually welcoming and progressive. Fortunately, Lowell ranks highly for diversity in Massachusetts. According to Niche, the city is the 6th most diverse suburb in Massachusetts and the state’s 10th most diverse place. 

Thus, residents enjoy living in Lowell and experiencing other cultures. This diversity influences different aspects of the city. For example, the cuisine in Lowell is a chronicle of decades of work combining various cultural experiences. You’ll get to eat the best foods from different countries here. 
</lowell>

        <Sport> 
            <p data-tilt> Soccer
                <a href="/soccer"><img src="Sport/soccer/Mayele-Malango-3.jpg" width="135px" height="75px"></a>

                
            </p>
            <p data-tilt>Basketball
                <a href="/basketball"><img src="sport/basketball img/1105_Huddle_2_.jpg"  width="135px" height="75px"> </a> 
            </p>
            <p data-tilt>Tennis
                <a href="Sport/Tennis.html"><img src="Sport/tennis img/Christina10-3Tennis-11-900x772.jpg"  width="135px" height="75px"></a>
            </p>
            <p data-tilt>football
                <a href="Sport/football.html"><img src="sport/football/R.jpg"  width="135px" height="75px"></a>
            </p>
            <p data-tilt>Volleyball
                <a href="Sport/volleyball.html"><img src="sport/volleyball/8376303c673b858ae1b6ccecca33b797.jpg"  width="135px" height="75px"></a>
            </p>
            <p data-tilt>Golf
                <a href="Sport/golf.html"><img src="sport/golf/LongMeadowGolfClub-Lowell-MA.jpeg"  width="135px" height="75px"></a>
            </p>
            <p data-tilt>Baseball
                <a href="Sport/baseball.html"><img src="sport/baseball/105A7046-XL-900x600.jpg"  width="135px" height="75px"></a>
            </p>
        </Sport>
        <post>
            <div class="event-form">
                <h1>Post An Event</h1>
                <form>
                    <select id="Sport">
                        <option value="Sport">Soccer</option>
                        <option value="Basketball">Basketball</option>
                        <option value="Football">Football</option>
                        <option value="Tennis">Tennis</option>
                        <option value="Volleyball">Volleyball</option>
                        <option value="Golf">Golf</option>
                        <option value="Baseball">Baseball</option>
                       </select>
                    <input required value="name" type="text"  name="name" placeholder="Name">
                    <input required value="contact" type="text" name="contact" placeholder="contact">
                    <input required value="date" type="date" name="date"   placeholder="date">
                   
                    
                       <input required value="address" type="text" name="Address" placeholder="Address">
                       <textarea required name="markdown" id="markdown" >Tell us about the Event</textarea>
                       <input data-tilt type="submit" value="submit" method="POST">
                </form>
            </div>
        </post>
       
            <table border="1" >

                
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Location</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>

                  
               
                
        
        <aside> Upcoming Events!!!
            <br>
            <img src="Arrow Going Right Gif.gif" width="200px" height="200px">
        </aside>
       
        <section data-tilt>section
            <table border="1">
          <tr>
            <!-- <th> <Events.title</th> -->
          </tr>
            </table>


 </section>
        <footer>footer</footer>
<script src="vanilla-tilt.min.js"></script>

    
</body>
</html>