<aside> Upcoming Events!!!
    <br>
    <img src="Arrow Going Right Gif.gif" width="200px" height="200px">
</aside>
<section data-tilt>section
    Beyond its wonderful nightlife, there are several things you can do here. Lowell is an iconic city of sorts for many reasons. It’s the birthplace of legendary writer Jack Kerouac, and Kerouac Park is named after him. 
There are several sites and sights you can check out as a resident here. Museums in the city include Boott Cotton Mills Museum, Mogan Cultural Center, National Streetcar Museum, New England Quilt Museum, and Whistler House Museum of Art. All these are testaments to its vibrant cultural scene.
</section>