<!-- <footer>
    <p>LoWellSport</p>
    <p>social media
        <img src="/Sport/62860-logo-twitter-computer-icons-free-photo-png.png" alt="">
        <img src="/Sport/62544-zuckerberg-mark-computer-facebook-icons-png-image-high-quality.png" alt="">
        <img src="/Sport/69823-instagram-icons-symbol-youtube-computer-logo.png" alt="">
        <img src="/Sport/69823-instagram-icons-symbol-youtube-computer-logo.png" alt=""> 
    </p>
    <p> copyright: &copy LoWellSport
        terms and conditions
        About us 
        Sport 
    </p>
</footer> -->
<footer>
    <p class="logo">LoWellSport</p>
    <p class="social-media">
        
        <img src="/Sport/62860-logo-twitter-computer-icons-free-photo-png.png" alt="">
        <img src="/Sport/62544-zuckerberg-mark-computer-facebook-icons-png-image-high-quality.png" alt="">
        <img src="/Sport/69823-instagram-icons-symbol-youtube-computer-logo.png" alt="">
        <img src="/Sport/69823-instagram-icons-symbol-youtube-computer-logo.png" alt=""> 
    </p>
    <p class="footer-links">
        <span>copyright:&copy; LoWellSport</span>
        <a href="#">Terms and Conditions</a>
        <a href="#">About Us</a>
        <a href="#">Sport</a>
    </p>
</footer>


<script src="vanilla-tilt.min.js"></script>