<lowell>
    <img src="/Sport/soccer/az-university-of-massachusetts-lowell-4.jpg"  width="25%" height="50%">
    <p>
        Something about When moving to a new city, its cultural and ethnic diversity could be a determining factor. A diverse city is usually welcoming and progressive. Fortunately, Lowell ranks highly for diversity in Massachusetts. According to Niche, the city is the 6th most diverse suburb in Massachusetts and the state’s 10th most diverse place. 
        Thus, residents enjoy living in Lowell and experiencing other cultures. This diversity influences different aspects of the city. For example, the cuisine in Lowell is a chronicle of decades of work combining various cultural experiences. You’ll get to eat the best foods from different countries here. 
    </p>
   
</lowell>
