<section > 
    <div class="soccer" data-tilt
    >
 <a href="http://ahc-ma.org/about/"><img src="/Sport/heath cup.jpg" alt=""></a>
    <p>
        The African Health Cup is an annual soccer tournament in Lowell at Cawley Memorial Stadium
        that brings members of the African immigrant and refugee 
        communities together to celebrate culture...
    
        
    </p>
    </div>
    <div class="basket" data-tilt>
        <a href="https://www.tjltraining.com/"><img src="/Sport/basketball one on one.jpg" alt="">  </a>
        <p>
           <br>
           <br>
            Elite Basketball Training In Lowell, MA. 
            best one on one training.
            109 Industrial Ave E - Lowell, MA
        </p>
    </div>
    <div class="foot">Lowell is an iconic city of sorts for many reasons.</div>
    <div class="base">It’s the birthplace of legendary writer Jack Kerouac, and Kerouac Park is named after him.</div>
    <div class="golf">There are several sites and sights you can check out as a resident here</div>
    <div class="tennis">Museums in the city include Boott Cotton Mills Museum, Mogan Cultural Center,</div>

    <div class="volley" data-tilt>
    <a href="https://www.millcityvolleyball.com/camps"> <img src="/Sport/volleyball/volleyball mill city.jpg" alt=""></a>
    <p>
        Mill City Volleyball has quickly become one of the premier
         volleyball destinations in New England. 
        Created in 2016, the club currently consists of 25 teams
         for both boys and girls, operating out of three court 
         volleyball-only facility in Lowell, MA.
    </p>

    </div>


    <div class="park">All these are testaments to its vibrant cultural scene.</div>
        
    

</section>