<Sport> 
    <p data-tilt> Soccer
        <a href="views/Sport/soccer.html"><img src="Sport/soccer/Mayele-Malango-3.jpg"  width="135px" height="75px"></a>
    </p>
    <p data-tilt>Basketball
        <a href="Sport/basketball.html"><img src="sport/basketball img/1105_Huddle_2_.jpg"  width="135px" height="75px"> </a> 
    </p>
    <p data-tilt>Tennis
        <a href="Sport/Tennis.html"><img src="Sport/tennis img/Christina10-3Tennis-11-900x772.jpg"  width="135px" height="75px"></a>
    </p>
    <p data-tilt>football
        <a href="Sport/football.html"><img src="sport/football/R.jpg"  width="135px" height="75px"></a>
    </p>
    <p data-tilt>Volleyball
        <a href="Sport/volleyball.html"><img src="sport/volleyball/8376303c673b858ae1b6ccecca33b797.jpg"  width="135px" height="75px"></a>
    </p>
    <p data-tilt>Golf
        <a href="Sport/golf.html"><img src="sport/golf/LongMeadowGolfClub-Lowell-MA.jpeg"  width="135px" height="75px"></a>
    </p>
    <p data-tilt>Baseball
        <a href="Sport/baseball.html"><img src="sport/baseball/105A7046-XL-900x600.jpg"  width="135px" height="75px"></a>
    </p>
</Sport>