
<table border="1">
  
    <thead>
        <tr>
            <th>name</th>
            <th>city</th>
            <th>Location</th>
            <th>zipcode</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i = 0; i < Sport.length; i++) { %>
            <tr>
                <td><%= Sport[i].name %></td>
                <td><%= Sport[i].city %></td>
                <td><%= Sport[i].address %></td>
                <td><%= Sport[i].zipcode %></td>
            </tr>
        <% } %>
    </tbody>
</table>
      
      
