<table border="1" method="GET">
    <tr>
        <th>Sport</th>
        <th>Venue</th>
        <th>Address</th>
        <th>City</th>
        <th>Zip-code</th>
    </tr>
    <tr>
        <!-- <td>< Sport.type %></td>
        <td>< Sport.name %> </td>
        <td><sport.address%> </td>
        <td><Sport.city%></td>
        <td><Sport.zipcode%></td> -->
        
    </tr>
</table>